@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-codeleap-brand: #7695ec;
  --color-input-border: #777;
  --color-container-border: #999999;
}
